.option-item {
    position:relative;
    width:100%;
    padding: .5rem 1.5rem;
  
    border-radius: .8rem;
    border: 1px solid transparent;
    background-color: var(--bg-2);
  
    cursor:pointer;
  
    transition: all .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  
    &:hover {
        background-color: var(--bg-2-hover);
    }
  }
  
  .dropdown-options {
    position: absolute;
  
    width:100px;
    top: 60px;
  
    padding:.3rem;
  
    font-size: .9rem;
    font-weight: 500;
  
    border-radius: .8rem;
    border: 1px solid transparent;
    background-color: var(--bg-2);
  
    color: var(--p);
  
    display: none;
    align-items:center;
    flex-direction:column;
    gap:.5rem;
  
    z-index:999;
    &.active {
      display: flex;
    }
  }