#top-nav {
    position: relative;
    max-width: 500px;
    width: 100%;

    margin: 10vh auto 0 auto;
    padding: 15px;

    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;

    .top-nav-container {
        position: relative;
        width: 100%;
        margin-bottom: 3rem;

        ul {
            padding: .5rem;

            background-color: var(--bg-2);
            border-radius: 3rem;

            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;

            user-select: none;

            li {
                color: var(--p);

                display: flex;
                align-items: center;
                gap: 1rem;

                p {
                    font-size: .9rem;
                    font-weight: 500;

                    letter-spacing: -.2px;
                }

                .icon {
                    width: 40px;
                    height: 40px;

                    padding: .1rem;

                    border-radius: 100%;
                    border: 1px solid var(--border);

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    cursor: pointer;

                    svg {
                        font-size: 18px;
                        color: var(--p);
                    }
                }

                .toggle-switch,
                .theme-switch {
                    width: 40px;
                    height: 40px;

                    padding: .1rem;

                    border-radius: 100%;
                    border: 1px solid var(--border);

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    cursor: pointer;

                    svg {
                        font-size: 18px !important;
                        color: var(--p);
                    }
                }

                .theme-switch {
                    border: 1px solid var(--border);
                }

            }
        }
    }
}

@media (max-width:768px) {
    #top-nav {
        margin: 3vh auto 0 auto;

        .top-nav-container {
            ul {
                gap: 1rem;

                li {

                    gap: .5rem;

                    p {
                        font-size: .8rem;

                    }
                }
            }
        }
    }
}

@media (max-width:320px) {
    #top-nav {
        height: 100px;
        margin: 3vh auto 0 auto;
        padding: 15px;

        .top-nav-container {
            ul {
                padding: .5rem;
                gap: .4rem;

                li {

                    gap: .4rem;

                    .icon {
                        width: 30px;
                        height: 30px;

                        padding: .1rem;

                        border-radius: 100%;
                        border: 1px solid var(--border);

                        display: flex;
                        align-items: center;
                        justify-content: center;

                        svg {
                            font-size: 16px;
                            color: var(--p);
                        }
                    }

                    .toggle-switch,
                    .theme-switch {
                        width: 30px;
                        height: 30px;

                        padding: .1rem;

                        border-radius: 100%;
                        border: 1px solid var(--border);

                        display: flex;
                        align-items: center;
                        justify-content: center;

                        svg {
                            font-size: 16px !important;
                            color: var(--p);
                        }
                    }

                    p {
                        font-size: .8rem;

                    }
                }
            }
        }
    }
}