.home-header {
    position: relative;

    text-align: start;

    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;

    .profile-content {
        width: 100%;

        margin-bottom: 3rem;

        display: flex;
        align-items: center;
        justify-content: start;
        gap: 2rem;

        .l-content {
            img {
                width: 125px;
                height: 125px;

                border-radius: 100%;
                filter: grayscale(40%);
                user-select: none;
            }
        }

        .r-content {
            margin-top: 1rem;

            h1 {
                margin-bottom: .5rem;

                font-size: 1.5rem;
                font-weight: 700;

                letter-spacing: -.5px;
                line-height: 1;

                color: var(--p);

                display: flex;
                align-items: center;
                gap: .5rem;

                svg {
                    color: #1da1f2;
                }
            }

            .available-for-works {
                width: 100%;

                font-size: .9rem;
                font-weight: 500;

                color: var(--p-3);

                display: flex;
                align-items: center;
                justify-content: center;
                gap: .8rem;

                transition: all .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

                .ball-green {
                    position: relative;
                    width: 8px;
                    height: 8px;

                    background-color: #34d399;
                    border-radius: 100%;
                    box-shadow: 0 0 5px 2px #34d399;
                }

                .ball-green::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;

                    width: 15px;
                    height: 15px;

                    background-color: #34d399;
                    border-radius: 100%;

                    transform: translate(-50%, -50%);
                    animation: radar-pulse 1.5s infinite;
                }

                @keyframes radar-pulse {
                    0% {
                        transform: translate(-50%, -50%) scale(1);
                        opacity: 0.7;
                    }

                    70% {
                        transform: translate(-50%, -50%) scale(1.5);
                        opacity: 0;
                    }

                    100% {
                        transform: translate(-50%, -50%) scale(1);
                        opacity: 0;
                    }
                }

            }

            .icon-content {
                margin-top: 1rem;

                display: flex;
                align-items: center;
                gap: 1rem;

                .icon-bg {
                    width: 35px;
                    height: 35px;

                    padding: .5rem;

                    border-radius: 100%;
                    background-color: var(--bg-2);

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    cursor: pointer;
                    transition: all .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

                    svg {
                        font-size: 16px;
                        color: var(--p);
                    }

                    &:hover {
                        background-color: var(--bg-3);
                        color: var(--p-2);

                        svg {
                            color: var(--p-2);
                        }
                    }
                }
            }
        }
    }



    .more-about {
        h2 {
            margin-bottom: 2rem;

            font-size: 1.3rem;
            font-weight: 400;

            letter-spacing: -.1px;
            line-height: 1.3;

            color: var(--p);
        }

        .modal-more-about {
            p {
                margin-bottom: 1rem;

                font-size: 1.2rem;
                font-weight: 400;

                letter-spacing: -.1px;
                line-height: 1.3;

                color: var(--p-3);
            }

            span {
                font-family: "Dancing Script", cursive;

                color: var(--p);
            }
        }

        button {
            margin-top: 2rem;
            margin-bottom: 1rem;


            width: fit-content;
            padding: .8rem 1.5rem .8rem 1.5rem;

            font-size: .9rem;
            font-weight: 500;

            border-radius: 2rem;
            border: 1px solid transparent;
            background-color: var(--bg-2);

            color: var(--p);

            display: flex;
            align-items: center;
            gap: .5rem;

            cursor: pointer;
            transition: all .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);


            svg {
                font-size: 16px;
                transition: all .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
            }

            &.active {
                svg {
                    transform: rotate(180deg);
                }
            }

            &:hover {
                background-color: var(--bg-2-hover);
            }
        }
    }
}

@media (max-width:768px) {
    .home-header {
        position: relative;

        text-align: start;

        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: column;

        .profile-content {
            margin-bottom: 1.5rem;
            justify-content: center;
            flex-direction: column;
            gap: 1rem;

            .l-content {
                img {
                    width: 100px;
                    height: 100px;
                    user-select: none;
                }
            }

            .r-content {
                margin-top: .5rem;

                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

            }
        }

        .more-about {
            position: relative;
            width: 100%;

            text-align: center;

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

        }

    }
}