@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

/* dark */
.dark {
  --p: #f3f3f3;
  --p-2: #333333;
  --p-3: #8f8f8f;

  --bg: #0a0a0b;
  --bg-2: #121212;
  --bg-2-hover: #181818;
  --bg-3: #e6e6e6;
  --bg-nav: #252525a8;
  --bg-linear: rgba(39, 39, 39, 0.57);

  --border: #181818;
}

.light {
  --p: #000000;
  --p-2: #dddddd;
  --p-3: #6d6d6d;

  --bg: #f6f8f9;
  --bg-2: #ebeeef;
  --bg-2-hover: #e1e4e6;
  --bg-3: #262626;
  --bg-nav: rgba(211, 211, 211, 0.747);
  --bg-linear: rgba(170, 170, 170, 0.24);

  --border: #e7e7e7;
}

* {
  font-family: "Figtree", sans-serif;

  list-style: none;
  text-decoration: none;

  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: var(--bg);
  overflow-y: scroll;
}

.border-left {
  width: 100%;
  height: 1px;

  margin: 3rem auto;

  background-color: var(--border);
  border-radius: 1rem;

}

::-webkit-scrollbar {
  width: 5px;
  height: 1px;
  background-color: var(--bg-2);
}

::-webkit-scrollbar-thumb {
  background-color: var(--bg-3);
  border-radius: .1rem;
}

option {
  margin: 1rem;
  border-bottom: 1px solid var(--p);
}

select {
  position:relative;
  display: none;
  top:50px;

  &.active{
    display:block;
  }
}

.theme-switch {
  width: 40px;
  height: 40px;

  padding: .1rem;

  border-radius: 100%;
  border: 1px solid var(--border);

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  svg {
    font-size: 18px !important;
    color: var(--p);
  }

}

.theme-switch {
  border: 1px solid var(--border);
}