header {
    position: fixed;
    width: 100%;

    bottom: 15px;
    left: 0;

    padding: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    pointer-events: none;
    z-index: 998;

    nav {
        position: relative;
        width: fit-content;

        margin: 0 auto;
        padding: 1rem;

        background-color: var(--bg-nav);
        backdrop-filter: blur(10px);
        border-radius: 5rem;

        overflow: hidden;
        pointer-events: all;
        ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;

            a {
                width: fit-content;
                padding: .8rem 1rem;

                font-size: .9rem;
                font-weight: 500;

                border-radius: 2rem;
                border: none;
                background-color: var(--bg-2);
                color: var(--p);

                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;

                cursor: pointer;
                transition: all .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

                svg {
                    font-size: 22px;
                }

                &:hover,
                &.active {
                    background-color: var(--bg-3);
                    color: var(--p-2);

                }

                &.active {
                    padding: .8rem 1.5rem;
                }
            }
        }
    }
}

@media (max-width:320px) {
    header {
        position: fixed;
        width: 100%;

        bottom: 15px;
        left: 0;

        padding: 15px;

        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 998;

        nav {
            margin: 0 auto;
            padding: .8rem;

            ul {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 1rem;

                a {
                    width: fit-content;
                    padding: .5rem .8rem;

                    font-size: .9rem;

                    svg {
                        font-size: 22px;
                    }

                    &:hover,
                    &.active {
                        background-color: var(--bg-3);
                        color: var(--p-2);

                    }

                    &.active {
                        padding: .5rem 1.3rem;
                    }
                }
            }
        }
    }
}